@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "poppins-regular";
  src: url("/public/Fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "poppins-SemiBold";
  src: url("/public/Fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "libreFranklin";
  src: url("/public/Fonts/LibreFranklin-VariableFont_wght.ttf");
}
