@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "poppins-regular";
  src: url("/public/Fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "poppins-SemiBold";
  src: url("/public/Fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "libreFranklin";
  src: url("/public/Fonts/LibreFranklin-VariableFont_wght.ttf");
}

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 300ms ease-in-out,
    transform 300ms ease-in-out;
}
.fade-exit {
  opacity: 1;
  transform: scale(1);
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition:
    opacity 300ms ease-in-out,
    transform 300ms ease-in-out;
}
